body {
  background-image: url(img/bg.png);


}

/* 頭 */
#header {
  width: 100%;
  position: relative;

  height: 100%;
  z-index: 999;
  margin-top: -1%;
  margin-left: -1%;
  padding: 1%;
}

#photodiv {
  margin-left: 20%;


}

#myphoto {
  margin-top: 3%;
  width: 25%;

  border-radius: 100%;
  border: 15px solid #F0F0F0;
  transition: 1s ease;
}

#myphoto:hover {
  width: 26%;
  transform: rotate(360deg);


}

/* 第一區塊 */
#first {
  margin-left: 10%;
  margin-right: 5%;
}

.title {
  position: relative;
  text-align: center;
  font-size: 180%;
  width: 40%;
  background-color: white;
  line-height: 60px;
  margin-left: 10%;
  color: black;
  font-weight: 900;
  top: -30px;
  transition: 2s ease;

}

.title:hover {
  text-decoration: underline;
}


.text {
  padding-left: 3%;

  font-size: 40px;
  text-align: center;
  font-weight: 900;
  transition: 2s ease;

}

.text:hover {
  font-style: italic;

}

/* 個人資料 */
#me {

  float: left;
  width: 23%;
  position: relative;
  margin-top: -12%;
  padding-top: 10%;
  padding-bottom: 6%;
  background-color: #D0D0D0;
  height: 100%;
  border-radius: 3%;
  margin-right: 3%;
  border: 5px double white;

}

#facebook {
  margin-left: 15%;
  margin-right: 3%;
  width: 15%;
}

#facebook:hover {

  transform: rotate(10deg);
}

#ig {
  width: 15%;
  transition: trnsform 2s ease;

}

#ig:hover {

  transform: rotate(10deg);
}

#git {
  position: relative;
  left: -11px;
  top: -6px;
  width: 25%;
}

#git:hover {

  transform: rotate(10deg);
}


#gmail {
  position: relative;
  left: -37px;
  width: 20%;
}

#gmail:hover {

  transform: rotate(10deg);
}


#saying {
  position: relative;
  font-size: 45px;
  text-align: center;
  transition: 1s ease;



}

#saying:hover {
  text-decoration: underline;
  font-size: 50px;
}

/* 學歷 */
#Education {
  border: 5px double white;
  float: left;
  width: 65%;
  position: relative;
  margin-top: -12%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #D0D0D0;
  height: 100%;
  border-radius: 5%;

}

.date {
  color: #D0D0D0;
  font-size: 20px;
}

.studytitle {
  position: relative;
  text-align: center;
  font-size: 180%;
  width: 50px;
  background-color: white;
  line-height: 60px;
  margin-left: 10%;
  color: black;
  font-weight: 900;
  float: left;
  margin-top: 5%;



}

.studytitle:hover {
  text-decoration: underline;
}

.time {
  list-style-type: none;
  position: relative;
  top: 30px;

}

.study {
  float: left;
  position: relative;
  left: 5%;
  margin-right: 20;
  border-top: 5px solid black;
  font-size: 30px;
  text-align: center;
  width: 20%;
  top: 0px;
  font-weight: 900;
  transition: 1s ease;

}

.study:hover {
  width: 22%;
  color: white;
  background-color: black;
}

.list {
  content: '';
  position: relative;
  top: -45px;
  left: 42%;
  width: 5px;
  height: 5px;
  border: 10px solid black;
  border-radius: 100%;
  background: black;

}

/* 專業技能 */
#Expertise {
  border: 5px double white;
  float: left;
  width: 30%;
  position: relative;
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 2%;
  background-color: #D0D0D0;
  height: 100%;
  border-radius: 5%;
  margin-right: 3%;
}

.Extext {
  position: relative;
  left: 15%;
  font-size: 30px;
  font-weight: 900;
}

#photoshop {
  position: relative;
  right: 20%;
  margin-top: 7%;
  width: 13%;
  float: right;
}

#htmlphoto {
  position: relative;
  right: 20%;
  margin-top: 4%;
  width: 13%;
  float: right;
}

#wordphoto {
  position: relative;
  right: 20%;
  margin-top: 4%;
  width: 13%;
  float: right;
}

#pwphpto {
  position: relative;
  right: 20%;
  margin-top: 4%;
  width: 13%;
  float: right;
}

.containerA {
  width: 40%;
  background-color: gray;
  color: white;
  font-weight: 900;
  font-size: 20px;
  border-radius: 20px;
  position: relative;
  left: 15%;
  text-align: center;
  margin-bottom: 5%;
}

@keyframes skillps {
  from {
    width: 10%;
  }

  to {
    width: 85%;
  }
}

@keyframes skillhtml {
  from {
    width: 10%;
  }

  to {
    width: 80%;
  }
}

@keyframes skillword {
  from {
    width: 10%;
  }

  to {
    width: 90%;
  }
}

@keyframes skillpw {
  from {
    width: 10%;
  }

  to {
    width: 70%;
  }
}

.skill {


  background-color: black;
  position: relative;
  border-radius: 20px;
  margin-bottom: 5%;

}

#ps {
  width: 85%;
  animation-name: skillps;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

#html {
  width: 80%;
  animation-name: skillhtml;
  animation-duration: 3.5s;
  animation-iteration-count: 1;
}

#word {
  width: 90%;
  animation-name: skillword;
  animation-duration: 3.7s;
  animation-iteration-count: 1;
}

#pw {
  width: 70%;
  animation-name: skillpw;
  animation-duration: 4s;
  animation-iteration-count: 1;
}

/* 程式能力 */
#Program {
  border: 5px double white;
  float: left;
  width: 30%;
  position: relative;
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 2.2%;
  background-color: #D0D0D0;
  height: 100%;
  border-radius: 5%;


}

.Programming {
  background-color: black;
  position: relative;
  border-radius: 20px;
  margin-bottom: 5%;
}

@keyframes skilljava {
  from {
    width: 10%;
  }

  to {
    width: 86%;
  }
}

@keyframes skillc {
  from {
    width: 10%;
  }

  to {
    width: 90%;
  }
}

@keyframes skillpython {
  from {
    width: 10%;
  }

  to {
    width: 70%;
  }
}

@keyframes skillSQL {
  from {
    width: 10%;
  }

  to {
    width: 82%;
  }
}

#java {
  width: 86%;
  animation-name: skilljava;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

#c {
  width: 90%;
  animation-name: skillc;
  animation-duration: 2.2s;
  animation-iteration-count: 1;
}

#python {
  width: 70%;
  animation-name: skillpython;
  animation-duration: 2.4s;
  animation-iteration-count: 1;
}

#SQL {
  width: 82%;
  animation-name: skillSQL;
  animation-duration: 2.6s;
  animation-iteration-count: 1;
}

/* 社團經歷 */
#club {
  border: 5px double white;
  float: right;
  width: 65%;
  position: relative;
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #D0D0D0;
  height: 100%;
  border-radius: 5%;
  margin-right: 7%;

}

.clubtext {
  padding-left: 3%;
  font-size: 40px;
  font-weight: 900;
  text-align: center;

}

.clubtext2 {
  padding-left: 3%;
  font-size: 20px;
  font-weight: 900;
  text-align: center;

}

#photography {
  float: left;
  width: 40%;
  padding-left: 8%;
  transition: 1s ease;

}

#photography:hover {
  width: 45%;
}

#Taekwondo {
  float: left;
  width: 40%;
  padding-left: 3%;
  transition: 1s ease;
}

#Taekwondo:hover {
  width: 45%;
}

#club1 {
  padding-top: 4%;
  width: 70%;
  border: solid 10px white;
  border-radius: 20px;
  margin-left: 15%;

}

#club2 {
  width: 70%;
  border: solid 10px white;
  border-radius: 20px;
  margin-left: 15%;
}

/* 大學經歷 */
#experience {
  border: 5px double white;
  float: right;
  width: 65%;
  position: relative;
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #D0D0D0;
  height: 100%;
  border-radius: 5%;
  margin-right: 7%;
}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}


/* The circles on the timeline */
.container::after {
  margin-right: 80px;
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid black;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  margin-right: 70px;
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  margin-right: 70px;
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 10px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.exphoto {
  width: 100%;
}

/* 工作經驗 */
#work {
  border: 5px double white;
  float: left;
  width: 23%;
  position: relative;
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #D0D0D0;
  height: 100%;
  border-radius: 5%;


}

.worktext {

  font-size: 40px;
  font-weight: 900;
  text-align: center;


}

.worktext2 {
  position: relative;
  font-weight: 900;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;



}

#work1 {
  transition: 1s ease;
}

#work1:hover {
  padding-top: 5%;
  background-color: gray;

}

#work2 {
  transition: 1s ease;
}

#work2:hover {
  padding-top: 5%;
  background-color: gray;

}


/* 證照 */
#Licens {
  border: 5px double white;
  float: left;
  width: 23%;
  position: relative;
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 5%;
  background-color: #D0D0D0;
  height: 100%;
  border-radius: 5%;


}

#Licens1 {

  transition: 1s ease;
  text-align: center;
}

#Licens1:hover {
  padding-top: 5%;
  background-color: gray;


}

.Licenstext {

  font-size: 30px;
  font-weight: 900;
  text-align: center;
  padding-bottom: 5%;

}

.Licenstext2 {

  color: #D0D0D0;
  font-weight: 900;
  text-align: center;
  padding-bottom: 20%;

}

.Licensphoto {

  width: 80%;
}